.App {
  text-align: center;
}
body {
  background-color: #00000b;
  background-image: url("../public/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}
.cbtn{
  height: 50px;
  line-height: 40px;
  background-image: linear-gradient(to right, #20ae98, #0aab50);
  color:white!important;
}
.big-title {
  font-family: Montserrat Bold, Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}
.con-title {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}
.login-box {
  padding: 60px 30px;
  background-color: #00000b;
}

.myform {
  width: 50%;
  .form-row {
    margin: 10px 0;
    position: relative;
    left:0;
    .row-txt {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 20px;
      padding: 14px 0;
    }
    .my-input {
      height: 50px;
      line-height: 50px;
      border: 1px solid #797979;
      background-color: transparent;
      color: #fff;
    }
    .my-select {
      height: 50px;
      line-height: 50px;
      border: 1px solid #797979;
      background-color: #000;
      border-radius: 6px;
      width: 300px;
      color: #797979;
      padding: 0 10px;
    }

    .right-link {
      float: right;
      margin-right: 10%;
      color: #fff;
    }
  }
}
.desc p{
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.crypted{
  position: relative;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.false span{
  color: #5f5f5f;
}
.true span{
  color:#fff
}
.hint{
  position: absolute;
  color: #fff;
}
.dropdown ul{
  background-color: #0bab53!important;
  box-shadow: none!important;
}
.ant-dropdown-menu-item-disabled{
  color:rgba(255, 255, 255, 0.85)!important;
  cursor:default!important;
}
.ant-dropdown-menu-item-disabled:hover{
  background-color: transparent!important;
}
.select {
  height: 32px;
  width: 160px;
  color: white!important;
  padding: 0;
  border: 1px solid #606060;
}
.MuiOutlinedInput-notchedOutline{
  border-color: #797979!important;
}