.App {
  text-align: center;
  height: 100%;
}
body {
  background-color: #00000b;
  background-image: url("../public/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cbtn{
  height: 50px;
  line-height: 40px;
  background-image: linear-gradient(to right, #20ae98, #0aab50);
  color:white!important;
}
.trans-btn{
  width:240px;
  background: rgba(39,206,181,0.12);
  border: 1px solid #09E98D;
  color: white;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.trans-btn:hover{
  background: #ffffff;
  color: black;
  border: 1px solid transparent;
  box-shadow: rgba(6, 241, 10, 0.686) 0px 0px 70px 4px;
}
.big-title {
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}
.con-title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}
.login-box {
  padding: 60px 30px;
  background-color: #00000b;
}
.myform {
  width: 64%;
  .form-row {
    margin: 10px 0;
    position: relative;
    left:0;
    .row-txt {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 20px;
      padding: 10px 0;
    }
  }
}

.false span{
  color: #5f5f5f;
}
.true span{
  color:#fff
}
.MuiOutlinedInput-notchedOutline{
  border-color: #797979!important;
}
.Mui-disabled{
  color:#797979!important;
  -webkit-text-fill-color:#797979!important;
}
.Available {
  color: #bdff95;
}
.Completed, .Failed {
  color: #878787;
}
.Refunded {
  color: #ffb9b9;
}
.menu-item{
  display: flex;
  align-items: center;
  padding:12px 0px!important;
  text-decoration: none;
  cursor: pointer;
}
.icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.subtitle {
  height: 28px;
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  line-height: 28px;
}
a{
  text-decoration: none;
}