html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: white;
  font-family: Avenir Next;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Avenir Next Bold;
  src: url(/public/font/AvenirNext-DemiBold.ttf);
}
@font-face {
  font-family: Avenir Next;
  src: url(/public/font/AvenirNext-Medium.ttf);
}
h1, h2, h3, h4, h5, h6{
  font-family: Avenir Next Bold;
}
.wallet-adapter-button:disabled{
  background-color: #10141f!important;
}